.div1,.div2 ,.div3 ,.div4 ,.div5 ,.div6 ,.div7 ,.div8{
    width: 150px;
    height: 40px;
    background-color: rgb(230, 160, 209);
    color: white;
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 50px 100px;
   text-align: center;
   border-radius: 10px;
   padding-top: 20px; 
   position: absolute;
   animation-name: changes;
    animation-duration: 3s; 
}

@keyframes changes {
     0%{left: 100px;}
     100%{left: 1000px;
        transform: rotate(720deg);} 
}
.div2{
    background-color:rgb(213, 116, 184) ;    
    margin-top: 160px;
   text-align: center;
   animation-name: changes_two;
   animation-duration: 3s;
   animation-delay: 3s;
   animation-direction: reverse;
}
@keyframes changes_two {
    0%{left: 100px; }
    100%{left: 1000px;
       transform: rotate(720deg);} 
}
.div3{
  
    background-color:rgb(144, 89, 131);;
    
    margin-top: 260px;
   
   animation-name: changes_three;
   animation-duration: 3s;
   animation-delay:6s;
}
@keyframes changes_three {
    0%{left: 100px; }
    100%{left: 1000px;
       transform: rotate(720deg);} 
}
.div4{
    
     background-color:rgba(157, 69, 131, 0.923);
     margin-top: 360px;
    animation-name: changes_four;
    animation-duration: 3s;
    animation-delay:9s;
    animation-direction: reverse;
 }
 @keyframes changes_four {
     0%{left: 100px; }
     100%{left: 1000px;
        transform: rotate(720deg);} 
 }
 .div5{
   
     background-color: rgba(137, 73, 137, 0.926);
    
     margin-top: 460px;
    text-align: center;
    
    animation-name: changes_five;
    animation-duration: 3s;
    animation-delay:12s;
   
 }
 @keyframes changes_five {
     0%{left: 100px; }
     100%{left: 1000px;
        transform: rotate(720deg);} 
 }
 .div6{
   
     background-color: rgb(192, 87, 145);
     margin-top: 560px;
    animation-name: changes_six;
    animation-duration: 3s;
    animation-delay:15s;
    animation-direction: reverse;
   
 }
 @keyframes changes_six{
     0%{left: 100px; }
     100%{left: 1000px;
        transform: rotate(720deg);} 
 }
 .div7{
   
     background-color: rgb(144, 89, 144); 
     margin-top: 660px;
    animation-name: changes_seven;
    animation-duration: 3s;
    animation-delay:18s;
   
 }
 @keyframes changes_seven{
     0%{left: 100px; }
     100%{left: 1000px;
        transform: rotate(720deg);} 
 }
 .div8{
   
     background-color: rgb(166, 66, 139);
     
     margin-top: 760px;
   
    animation-name: changes_8;
    animation-duration: 3s;
    animation-delay:21s;
    animation-direction: reverse;
   
 }
 @keyframes changes_8{
     0%{left: 100px; }
     100%{left: 1000px;
        transform: rotate(720deg);} 
 }

 
